<div class="container mx-auto mt-4 max-w-prose p-3 mb-20">
  <header>
    <.link navigate={~p"/"}>Tom on the Internet</.link>
  </header>

  <div>
    <.flash_group flash={@flash} />
  </div>

  <main>
    {@inner_content}
  </main>
</div>
