<html>
  <title>My docker matrix fan page</title>
  <style>
    html {
        font-family: monospace;
        font-size: 16px;
    }

    body {
        color: lime;
        background-color: black;
    }
  </style>

  <body>
    <h1>My docker matrix fan page</h1>
    <h2>Hosted on ecs.</h2>
    <p>Hi. My name is Tom. This is my matrix fan page.</p>
    <p>I'm actually just making sure my Elixir app works with subdomains.</p>
    <img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExemdnc3YyZXB2ejZ5eXdoanRhdnMwYXl6ZnNrbGk1d2MwNGZsNDdteCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/G6sJqVpD1U4jC/giphy.gif" />
  </body>
</html>
