<html>
  <title>My docker matrix fan page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />
  <style>
    * {
        font-family: "IBM Plex Mono", serif;
        font-size: 16px;
    }

    body {
        color: lime;
        background-color: black;
    }
  </style>

  <body>
    <h1>My docker matrix fan page</h1>
    <h2>Hosted on ecs.</h2>
    <p>Hi. My name is Tom. This is my matrix fan page.</p>
    <p>I'm actually just making sure ECS works with my Elixir app.</p>
    <img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExemdnc3YyZXB2ejZ5eXdoanRhdnMwYXl6ZnNrbGk1d2MwNGZsNDdteCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/G6sJqVpD1U4jC/giphy.gif" />
  </body>
</html>
