<article class="post">
  <h1>Digital Rain</h1>
  <p><time datetime="2023-12-01">December 2023</time></p>

  <p>I recently recreated the Digital Rain from the Matrix in JavaScript.</p>
  <img src="images/digital-rain/digital-rain.png" alt="Matrix Digital Rain" />

  <p>
    Here's the <a
      href="https://github.com/tom-on-the-internet/matrix-digital-rain"
      target="_blank"
    >code</a>.
  </p>
</article>
