<article>
  <%!-- <h1 class="text-center">Guestquarium</h1> --%>
  <canvas width="800" height="600" class="border"></canvas>
  <script phx-track-static type="text/javascript" src={~p"/assets/guestquarium.js"}>
  </script>
</article>
